<head>
  <div class="p-3 mb-2 bg-light text-dark">
  <img src="imagens" alt="">
  </head>

  <p>Empréstimo na sua conta de luz 
    sem consulta PSC e SERASA‼️
    Entre em contato e faça sua análise 
  </p>
  <button type="button" class="btn btn-link">

    <%= link_to "Deseja se cadrastrar?", new_contato_path %>
  </button>
</div>
