<!DOCTYPE html>
<html lang="pt">
  <%# <head>
    <title>Credway</title>
    <link rel="stylesheet" href="src/application.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap">

  </head> %>
  <main>
    <section class="intro gray">
      <div class="container">
        <h1>O Credluz  é um empréstimo onde as parcelas que cabem no seu bolso são inseridas na sua fatura de luz,
          onde <strong>não é necessário a comprovação de renda</strong>, 
          e ainda você pode ter restrições pois o que vale é sua relação com a empresa que abastece sua  energia.
        </h1>

        <p>
          Se cadastre e saiba hoje mesmo sua resposta!
        </p>
        <div>
        <%= link_to "Quero me cadastrar", new_contato_path %>
      </div>
    </section>

    <section class="empresas">
          <div class="container">
            <h1 class="title">Empresas que trabalham conosco</h1>
                <div class="cards">
                    <div class="card red">RGE-RS</div>
                    <div class="card blue">CPFL(SP-PR-MG)</div>
                    <div class="card yellow">CELESC-SC</div>
                    <div class="card green">CELPE-PE</div>
                    <div class="card purple">COSERN-RN</div>
                    <div class="card pink">COELBA-BA</div>
                </div>  
            </div>
            </section>

  </main>
  <footer>
        <div class="container">
        <ul>
        <li><a href="https://web.facebook.com/credwaycredluz/?_rdc=1&_rdr">Facebook</a> </li>
        </ul>
        <p> ® Credway. Todos os direitos reservados.</p>
        </div>
  </footer>
</html>
